/*
@import 'components/code';
@import 'components/links';
@import 'pages/index';*/

@import 'core/reset';
@import 'core/variables';
@import 'layout/header';
@import 'layout/page';
@import 'layout/footer';
@import 'layout/mediaqueries.scss';




